@{
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">Merhaba</h1>
    <p>
        ASP.Net Core Biliyor musunuz ?
        <a asp-action="CevapFormu">Cevap Formu</a>
    </p>
</div>